@{
    Layout = "_Layout";
}
@using Library.Models;
@using Library.ViewModels;
@model QueryViewModel

<main>
    <section>
        <!-- Checklist:
            - Register [regular user]
            - Login
            - Register and remain logged in
            - Register [librarian]
            - Login
            - Register and remain logged in

            Books
            [allowanonymous]
            - Read / Details
            - method: Search
            [librarian]
            - Create
            - Update
            - Delete

            Account
            [user | librarian]
            - Read / Details
            - Update
            [librarian]
            - Create
            - Delete
            - method: Search
        -->
    </section>
</main>