* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none
}

html {
    font-size: 62.5%
}

body {
    position: relative;
    margin: 0;
    font-family: 'Inter';
    font-size: 1.5em;
    color: #222;
    background: #E5E4E2;
    line-height: 1;
}

a { text-decoration: none }
ul { list-style: none }
a, p, li { font-size: 1.6rem }

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.6rem;
    border-bottom: 0.2rem solid #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-left: 1.8rem;
    font-family: 'Syne';
    font-size: 3.2rem;
    font-weight: bold;
}

.nav {
    margin-right: 2.4rem;
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 1.2rem;
}

.nav a {
    color: #888;
}

.nav a:hover {
    color: #222;
}

main {
    width: 100%;
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 85%;
    max-width: 68rem;
}

.form-entry {
    width: 100%;
    margin: 1.2rem 0;
    display: grid;
    grid-template-columns: 12rem 1fr;
}

.list-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-entry {
    width: 100%;
}

.entries-2 {
    display: grid;
    grid-template-columns: 1fr 6.4rem;
}

.entries-3 {
    display: grid;
    grid-template-columns: 1fr 6.4rem 6.4rem;
}